.topnav {
    background-color: 	#0000FF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: 	#0000FF;
    color: white;
}
	
Table{ 
	border-collapse: collapse;
	background-color: 	#00008B;
	color: #ffff99;
	margin-left: auto;
	margin-right: auto;
	}
	
	h1 {
	color: #FFEBCD;
	text-align: center;
}

h2{
	color: 	#7FFF00;
	text-align: center;
}

table.Table1 {
	background-color: #800000;
	margin-left: auto;
	margin-right: auto;
        
        }
		
table.Table52{
	background-color: 	#006400;
	margin-left: auto;
	margin-right: auto;
}		

body{
    background-attachment: fixed;
    background-position: center; 
}