body, html {
    height: 100%;
}

/* The image used below is called a "hero-image though i gave it a class name in my HTML  */
.HeroOfTime {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/As3WkTlOmiA/maxresdefault.jpg");

    /* This will change the height of my image */
    height: 100%;
    /* The below will make sure that the image is rendered nicely upon the page, at entry */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* This all just ensures that my text looks good, centering it, changing its colors, etc... */
.HeroOfWinds {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFA500;
	font-family: font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 30px;
}

.button {
    border: none;
    color: #A9A9A9;
    padding: 15px 32px;
    text-align: center;
    text-decoration:line-through;
    font-size: 20px;
}